.carbon-box {

    .carbon-field .carbon-field-group-holder .button {
        margin: 0;
        min-height: 37px;
    }

    .carbon-date {

        input {
            background-color: get_color("white");
        }

        .button {
            display: none;
        }
    }

    @include breakpoint(get-bp("laptop-s")) {

        .inside {

            .span-item-col {
                flex-basis: 15%;
            }

            .span-4 {
                flex-basis: 33.33%;
            }

            .span-6 {
                flex-basis: 50%;
            }

            .span-8 {
                flex-basis: 66.66%;
            }
        }
    }
}
