.csip-invoice-table {
    border-collapse: collapse;
    border: none;
    margin-top: 50px;

    th,
    td {
        border-top: none;
        border-right: none;
        border-left: none;
        width: auto;
        min-width: 70px;
        word-break: keep-all;
    }

    th {
        color: get_color("grey-1");
        border-bottom: 2px solid get_color("brand");
        font-size: 10pt;
    }

    td {
        border-bottom: 1px solid get_color("grey-c");
    }

    tbody,
    thead {

        th + th,
        td + td {
            text-align: center;
        }
    }

    tbody td {
        font-size: 10pt;
    }

    dl {
        margin-top: 0;
        margin-bottom: 0;
    }

    dt {
        color: get_color("grey-1");
    }

    dd {
        margin-left: 0;
        margin-top: 0;
        font-size: 8pt;

        p {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 10pt;
        }
    }

    tfoot td:last-child {
        text-align: right;
    }
}

.csip-invoice-table-empty-cell {
    border-bottom: none !important;
}

.csip-invoice-table-row-tax,
.csip-invoice-table-row-subtotal,
.csip-invoice-table-row-discount {

    td {
        font-size: 10pt;
    }
}

.csip-invoice-table-row-total {
    font-size: 12pt;
    font-weight: bold;
    color: get_color("grey-1");

    td {
        border-bottom: none;
    }
}
