.csip-invoice {
	background-color: get_color("white");
	color: get_color('grey-2');
    padding: 50px 50px 20px;
    margin: 50px 0;

    .csip-row {
        display: flex;
    }

    .csip-span-4 {
        width: span(4);
    }

    .csip-span-6 {
        width: span(6);
    }

    .csip-span-8 {
        width: span(8);
    }

    .csip-company-logo .thumb span {
        padding-top: 38%;
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
    }
}

.csip-invoice-info {
    margin-top: 40px;
}

.csip-invoice-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 19pt;
}

.csip-invoice-title-text {
    padding-right: 10px;
	color: get_color('grey-1');
}

.csip-invoice-title-code {
   color: get_color('brand');
}

.csip-invoice-list {
    margin: 0;
    padding-left: 0;
    font-size: 11pt;

    li {
        list-style-type: none;
        margin-left: 0;
    }
}

.csip-invoice-list-label {
	font-size: 11px;
	letter-spacing: 0.05em;
	color: get_color('grey-9');
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.csip-invoice-list-entry {
    margin-top: 0;
    margin-bottom: 0;
	line-height: 15pt;

	+ .csip-invoice-list-label {
		margin-top: 5px;
	}
}

.csip-client-name {
	font-weight: bold;
	font-size: 14pt;
	margin-top: 10px;
	color: get_color('grey-1');
}

.csip-invoice-payment-info {
    padding-right: 6px;
    padding-left: 6px;
}

.csip-invoice-payment-title,
.csip-invoice-payment-note-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
    text-transform: uppercase;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -6px;
        bottom: 0;
        width: calc(100% + 12px);
        height: 1px;
        background-color: get_color("grey-a");
    }
}

.csip-invoice-account {

    .csip-span-4 {
        width: span(4);
    }

    p {
        font-size: 10pt;
    }
}

.csip-invoice-account-name {
    margin-top: 10px;
    font-size: 12pt;
    text-transform: uppercase;
    color: get_color("brand");
}

.csip-invoice-note p {
    font-size: 10pt;
}

.csip-invoice-footer {
    font-size: 10pt;
    margin-top: 50px;
    padding-top: 5px;
    border-top: 1px solid get_color("grey-c");

    p {
        margin: 0;
    }
}
