@media print {
    @page {
        margin: 20px;
    }

    .csip-container {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    .csip-invoice {
        padding: 10px;
        margin: 0;
    }

    .csip-invoice-footer {
        position: fixed;
        width: 96%;
        right: 2%;
        left: 2%;
        bottom: 0;
    }

    .csip-avoid-break {
        page-break-inside: avoid;
    }

    body {

        header,
        footer,
		.site-header {
            display: none;
        }
    }
}
