.csip-container {
	width: 100%;
	margin: 0 auto;
}

.csip-invoice {
	background-color: get_color("white");
	color: get_color('grey-2');
    padding: 50px 50px 30px;
    margin: 50px 0;
	box-shadow: 0 0 2px grey;
}

.csip-row {
	display: flex;
}

.csip-span-4 {
	width: span(4);
}

.csip-span-6 {
	width: span(6);
}

.csip-span-8 {
	width: span(8);
}

.csip-block {
	display: block;
}

.csip-text-left {
	text-align: left;
}

.csip-text-right {
	text-align: right;
}

.csip-text-center {
	text-align: center;
}

.csip-mb-30 {
	margin-bottom: 40px;
}

.csip-mb-40 {
	margin-bottom: 40px;
}
