.csip-invoice {

	// --font-base: 16px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    p {
        margin: 0;
		line-height: 1.5;

		+ p {
			margin-top: 1em;
		}
    }

	th:first-child {
		text-align: left;
	}

	strong {
		font-weight: bold;
	}

	dl,
	dd {
		margin: 0;
	}
}
